/*-----Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');

/*-----Background Colors / Images*/

.error_main {
    background: url(../images/404image.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    width: auto;
}

.error_footer {
    background-color: darkred;
}

/*-----Index Header*/


/*-----Index Main Content*/


/*-----Index Footer*/


/*-----Game Header*/


/*-----Game Main Content*/


/*-----Game Footer*/


/*-----404 Header*/
.error_header {
    min-height: 100px;
    padding-left: 50px;
    padding-top: 50px;
}

.error_header h1 {
    font-family: "Russo One", sans-serif;
    font-style: italic bold;
    font-size: 5rem;
    color: darkred;
}

/*-----404 Main Content*/
.error_main p {
    text-align: center;
}

/*-----404 Footer*/
.error_footer {
    height: 60px;
}

/*-----Media Queries*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .error_main {
        height: 400px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .error_main {
        height: 500px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .error_main {
        height: 600px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .error_main {
        height: 650px;
    }
}